@charset "utf-8";

.slideshow {
    position: relative;
    overflow: hidden;
}
input[name="slideshow"] {
    display: none;
}

/* :::::: slideContents :::::: */
.slideContents {
    position: relative;
    background: white;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    transition: transform .1s;
}
.slideContents section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(100%);
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.slideContents section img {
    max-width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    vertical-align: middle;
}

/* :::::: arrows :::::: */
.arrow,
.arrow label,
.arrow .ico {
    position: absolute;
}
.arrow {
    top: 0;
    margin: 0;
    transition: background .3s;

}
.prev {
    left: 0;
}
.next {
    right: 0;
}
.arrow:hover {
    background: rgba(255,255,255,.2);
}
.arrow,
.arrow label {
    cursor: pointer;
    width: 50px;
    height: 100%;
}
.arrow label {
    top: 0;
    left: 0;
    z-index: 1;
}
.arrow .ico {
    top: calc(50% - 6px);
    width: 12px;
    height: 12px;
    border-top: 3px solid #fff;
    opacity: 0;
}
.prev .ico {
    left: 50%;
    border-left: 3px solid #fff;
    transform: rotate(-45deg);
    transition: left .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
}
.next .ico {
    right: 50%;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
    transition: right .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
}
.arrow:hover .ico {
    opacity: .6;
}
.prev:hover .ico {
    left: calc(50% - 6px);
}
.next:hover .ico {
    right: calc(50% - 6px);
}

/* :::::: contents :::::: */
.slideContents section {
    opacity: 0;
}
.slideContents section .contents {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
}
.slideContents section h1,
.slideContents section p {
    margin: 0;
    color: black;
    opacity: 0;
}
.slideContents section h1 {
    font-size: 16px;
}
.slideContents section p {
    margin-top: .5em;
    font-size: 12px;
}

/* :::::: mechanism :::::: */
#switch1:checked ~ .slideContents #slide1,
#switch2:checked ~ .slideContents #slide2,
#switch3:checked ~ .slideContents #slide3 {
    position: relative;
    opacity: 1;
    transform: none;
}
#switch1:checked ~ .slideContents #slide3,
#switch2:checked ~ .slideContents #slide1,
#switch3:checked ~ .slideContents #slide2 {
    transform: translateX(-100%);
}
#switch1:checked ~ .slideContents #slide1 h1,
#switch1:checked ~ .slideContents #slide1 p,
#switch2:checked ~ .slideContents #slide2 h1,
#switch2:checked ~ .slideContents #slide2 p,
#switch3:checked ~ .slideContents #slide3 h1,
#switch3:checked ~ .slideContents #slide3 p {
    opacity: 1;
}

/* 要素を立体的に */
.slideContents {
    perspective: 1000px;
}
.slideContents section,
.slideContents h1,
.slideContents p {
    transition: opacity 1s, transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.slideContents section {
    transform: translateX(500px) rotateY(-90deg);
    transition-duration: .8s, 1.2s;
}
#switch1:checked ~ .slideContents #slide1 h1,
#switch2:checked ~ .slideContents #slide2 h1,
#switch3:checked ~ .slideContents #slide3 h1 {
    transition-delay: .6s, 0s;
}
#switch1:checked ~ .slideContents #slide1 p,
#switch2:checked ~ .slideContents #slide2 p,
#switch3:checked ~ .slideContents #slide3 p {
    transition-delay: .4s, 0s;
}
#switch1:checked ~ .slideContents #slide1,
#switch2:checked ~ .slideContents #slide2,
#switch3:checked ~ .slideContents #slide3 {
    transform: translateX(0) rotateY(0deg);
    transition-delay: .2s, 0s;
}
#switch1:checked ~ .slideContents #slide3,
#switch2:checked ~ .slideContents #slide1,
#switch3:checked ~ .slideContents #slide2 {
    transform: translateX(-500px) rotateY(90deg);
}

/* :::::: arrow mechanism :::::: */
.arrow label {
    pointer-events: none;
}
#switch1:checked ~ .prev label[for="switch3"],
#switch2:checked ~ .prev label[for="switch1"],
#switch3:checked ~ .prev label[for="switch2"],
#switch1:checked ~ .next label[for="switch2"],
#switch2:checked ~ .next label[for="switch3"],
#switch3:checked ~ .next label[for="switch1"] {
    pointer-events: auto;
}

