
h1 {
    border-bottom: solid 3px #ffe000;
    font-size: 4rem;
    padding-left: 10px;
    border-left: solid 10px red;
}


.container {
    display: flex;
}

.contents-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contents-box {
    margin-bottom: 4rem;
    padding: 4rem;
    width: 20%;
}

.contents-box img {
    display: block;
    margin-bottom: 3rem;
    width: 50%;
    height: 100px;
}

.contents-box h2 {
    margin-bottom: 2rem;
    font-size: 2.2rem;
    text-align: center;
}

@media screen and (max-width: 768px){
    .contents-wrap {
        flex-direction: column;
    }

    .contents-box {
        width: 100%;
    }
}



/*------------------------------------------------------------------------*/

/*表のデザインcss*/
table{
    width: 100%;
    border-spacing: 0;
}

table th{
    border-bottom: solid 2px #ffe000;
    padding: 10px 0;
}

table td{
    border-bottom: solid 2px #8A4B08;
    text-align: center;
    padding: 10px 0;
}



/*------------------------------------------------------------------------*/

/* ボタンcss */

.hvr-rectangle-out{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

.hvr-rectangle-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #e1e1e1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
    color: white;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}


@media screen and (min-width:480px) and ( max-width:600px) {
    /*　画面サイズが480pxからはここを読み込む　*/
    p { color:#ededed;}
}

@media screen and (min-width:600px) and ( max-width:960px) {
    /*　画面サイズが600pxから960pxまではここを読み込む　*/
    p {}
}

@media screen and (min-width:960px) and ( max-width:1280px) {
    /*　画面サイズが960pxから1280pxまではここを読み込む　*/
    p {}
}

@media screen and (min-width:1280px) {
    /*　画面サイズが1280pxからはここを読み込む　*/
    p {}
}





div.box4 {
    display: flex;
}

.box4 li {
    width: calc(100% / 3);
}

div,
li {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

li {
    background: #ccc;
    text-align: center;
    padding: 20px 0;
    border: 1px solid #fff;
}

button.button1{
    font-size: 1.4em;

    font-weight: bold;

    padding: 20em 1em;

    background-color: #248;

    color: #FFFFFF;

    border-style: none;
}

button.button1:hover{
    background-color: #24d;

    color: #FFFFFF;
}





