.box1 {
    padding: 0em 0em;
    margin: 10em 0;
    font-weight: bold;
    border: solid 3px #000000;

}
.box1 p {
    margin: 0;
    padding: 0 ;
    width: 500px
}

.box2 {
    padding: 0em 0em;
    margin: 10em 0;
    font-weight: bold;
    border: solid 3px #000000;
}
.box2 p {
    margin: 0;
    padding: 0 ;
}







.contents-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contents-box {
    margin-bottom: 3rem;
    padding: 3rem;
    width: 49%;
    background-color: #f0f0f0;
}

.contents-box img {
    display: block;
    margin-bottom: 3rem;
    width: 100%;
    height: auto;

}

.contents-box h2 {
    margin-bottom: 2rem;
    font-size: 2.2rem;
    text-align: center;
}

@media screen and (max-width: 768px){
    .contents-wrap {
        flex-direction: column;
    }

    .contents-box {
        width: 100%;
    }
}




