div {text-align:center;}

.contents-box img {
    max-width: 50%;
    background-color: #eee8aa;
    margin: 0 auto;
    text-align:center;
}

.contents-box h2 {
    margin-bottom: 2rem;
    font-size: 2.2rem;
    text-align: center;
}










